{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5 py-5">
        <div class="d-flex flex-column align-items-center justify-content-between text-alert my-5">
                <div class="mb-5"><h1>Oups, accès refusé! C'est pour les z'habitués :)</h1></div>
                <div><i class="fas fa-ban text-warning fa-10x"></i></div>
        </div>
        <a href="http://92.243.8.179/#/" class="btn btn-primary">Retour</a>
    </div>
{% endblock %}